body {
    background-color:#2a2a2a;
}
#reset {
    border:solid 1px gray;
    background-color:#2a2a2a;
    color:gray;
    margin-top:5px;
}
td{
    text-align:center;
    font-family: Times New Roman;
    color:gray;
    vertical-align: middle;
}
#box td {
    border:solid 1px gray;
    text-align:center;
    font-size:40px;
    font-family:Times New Roman;
    color:gray;
    width:55px;
    height:55px;
}
#box td:hover{
    color:white;
    cursor:hand;
}
